/*===========================================
   Variables
===========================================*/

// Colors
$black: #111;
$white: #fff;
$nichiha-blue: #0054bb;
$athens-grey: #f0f2f4;
$river-bed: #48555f;
$oslo-grey: #8a9499;

// Font Weights

$font-weight--light  : 300;
$font-weight--regular : 400;
$font-weight--medium  : 500;
$font-weight--semi-bold: 600;
$font-weight--bold  : 700;
$font-weight--black : 900;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  768px;
$brkpoint-lg:  1025px;
$brkpoint-xlg: 1400px;

// Typography
$font-stack-primary: 'Montserrat', serif;
$base-font-size: 16px;

// Margin centered
$margin-center: 0 auto;

// Media Query Breakpoints
