/*===========================================
   Benefits Styles
===========================================*/

.benefits {
  background-color: $athens-grey;
  padding-bottom: 165px;
  margin-top: -150px;
  @include mq(medium) {
    margin-top: 0;
  }

}

.benefits-container {
  width: 90%;
  margin: 0 auto;
  @include mq(medium) {
    width: 73%;
  }
}

.benefits h4 {
  margin: 0;
  padding: 80px 0 0 0;
}

.benefits h3 {
  margin-top: 25px;
}

.benefits-info {

  @include mq(medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.benefit-option {
  @include mq(medium) {
    padding: 0 15px;
  }
}

.benefit-option svg {
  height: 74px;
}

.benefit-option:first-child {
  @include mq(medium) {
    padding-left: 0;
  }
}

.benefit-option:last-child {
  @include mq(medium) {
    padding-right: 0;
  }
}

.benefit-option svg {
  padding-top: 40px;
}

.benefits-border {
  background-color: $nichiha-blue;
  border: none;
  width: 89px;
  height: 2px;
  margin: 0;
}
