/*===========================================
   Header Styles
===========================================*/

header {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;


  @include mq(medium) {
    padding-bottom: 0;
    padding-top: 153px;
    width: 73%;
  }

  @include mq(xxlarge) {
    width: 50%;
  }
}

#logo-top {
  display: block;
  margin: 0 auto;
  height: 99px;

  @include mq(medium) {
    margin: 0;
  }
}
