h1 {
  color: $white;
  font-size: em(50px);
  font-weight: $font-weight--medium;
  letter-spacing: 0.04em;
  line-height: 1.28;
}

h2 {
  color: $nichiha-blue;
  font-size: em(34px);
  font-weight: $font-weight--semi-bold;
  letter-spacing: 0.02em;
  line-height: 1.47;
}

h3 {
  color: $river-bed;
  font-size: em(30px);
  font-weight: $font-weight--regular;
  letter-spacing: 0.03em;
}

h4 {
  color: $nichiha-blue;
  font-size: em(14px);
  font-weight: $font-weight--semi-bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h5 {
  color: $river-bed;
  font-size: em(14px);
  font-weight: $font-weight--medium;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.event-header p {
  color: $white;
  font-size: em(20px);
  font-weight: $font-weight--regular;
  letter-spacing: 0.04em;
  line-height: 1.75;
}

.apple-watch p {
  color: $oslo-grey;
  font-size: em(14px);
  font-weight: $font-weight--regular;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.benefit-option p {
  color: $oslo-grey;
  font-size: em(16px);
  font-weight: $font-weight--regular;
  letter-spacing: 0.03em;
  line-height: 1.625;
}

.rule-p {
  color: $river-bed;
  font-size: em(12px);
  font-weight: $font-weight--regular;
  letter-spacing: 0.03em;
  line-height: 1.25;
}
